MYSQL_ROOT_PASSWORD=mysqlrootpassword
MYSQL_PASSWORD=matomodbpassword
MYSQL_DATABASE=matomo
MYSQL_USER=matomo

MATOMO_DATABASE_HOST=matomo_db
MATOMO_DATABASE_ADAPTER=mysql
MATOMO_DATABASE_TABLES_PREFIX=matomo_
MATOMO_DATABASE_USERNAME=matomo
MATOMO_DATABASE_PASSWORD=matomodbpassword
MATOMO_DATABASE_DBNAME=matomo
